<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newlecture.web.dao.MemberDao">
    <select id="get" resultType="com.newlecture.web.entities.Member">
        SELECT * FROM MEMBERS WHERE MID =#{mid}
    </select>
    
   <select id="getList" resultType="com.newlecture.web.entities.Member">
      SELECT * FROM (
      SELECT ROW_NUMBER() OVER (ORDER BY REGDATE DESC) NUM,
       MEMBERS_VIEW.*
       FROM MEMBERS_VIEW
       WHERE ${param2} LIKE '%${param3}%'
       ) N
       WHERE NUM BETWEEN 1+(#{param1}-1)*10 AND #{param1}*10
   </select>
   
   <update id="update" parameterType="com.newlecture.web.entities.Member">
      UPDATE MEMBERS SET PWD=#{pwd}, NAME=#{name}, NICNAME=#{nicName}, EMAIL=#{email} WHERE MID=#{mid}

   </update>
   
   <delete id = "delete">
        DELETE MEMBERS WHERE MID=#{mid}
    </delete>


    <insert id = "insert" parameterType="com.newlecture.web.entities.Member">
        <selectKey order="BEFORE" keyProperty="code" resultType="String"><!-- 쿼리 실행하기 전 미리 이것 실행해줘 -->
            SELECT ISNULL(MAX(CAST(CODE AS INT)), 0)+1  AS CODE FROM NOTICES <!--CODE값이 STRING 이라서 INT값으로 변환해서 가장 큰 값을 찾아줘  근데 만약 NULL이면 1로 보여줘 ,
            NULL이 아니면 +1을 해서 보여줘-->
        </selectKey>
        INSERT INTO MEMBERS (MID,PWD,NAME,NICKNAME,EMAIL,BIRTH,PHONE,PICTURE,GENDER) 
        VALUES(#{mid},#{pwd},#{name},#{nickName},#{email},#{birth},#{phone},#{picture},#{gender});
    </insert>

   <select id="getCount" resultType="Integer">
      SELECT COUNT(*) COUNT FROM(SELECT ROW_NUMBER() OVER (ORDER BY REGDATE DESC) NUM,
      MEMBERS_VIEW.* FROM MEMBERS_VIEW
      WHERE TITLE LIKE '%%') N
   </select>
   
   <select id="getlastCode" resultType="String">
      SELECT ISNULL(MAX(CAST(CODE AS INT)), 0) AS CODE FROM MEMBERS
   </select>
   
   <select id="getPrev" resultType="com.newlecture.web.entities.Member">
      SELECT TOP 1 * FROM MEMBERS WHERE CODE &gt; CAST(#{code} AS INT) ORDER BY REGDATE ASC
   </select>
   
   <select id="getNext" resultType="com.newlecture.web.entities.Member">
      SELECT TOP 1 * FROM MEMBERS WHERE CODE &lt; CAST(#{code} AS INT) ORDER BY REGDATE DESC
   </select>
   
   <update id="hitUp">
      UPDATE MEMBERS SET HIT=HIT+1 WHERE MID=#{mid}
   </update>
</mapper>