<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newlecture.web.dao.NoticeFileDao">
	<select id="getList" resultType="com.newlecture.web.entities.NoticeFile">
		SELECT * FROM NOTICEFILES WHERE NOTICECODE=#{noticeCode} 
	</select>
	
	<update id="update" parameterType="com.newlecture.web.entities.Notice">
		UPDATE NOTICEFILES SET SRC=#{src} WHERE CODE=#{code}
	</update>
	
	<delete id = "delete">
  		DELETE NOTICEFILES WHERE CODE=#{code}
 	</delete>


 	<insert id = "insert">
  		<selectKey order="BEFORE" keyProperty="code" resultType="String"><!-- 쿼리 실행하기 전 미리 이것 실행해줘 -->
   			SELECT ISNULL(MAX(CAST(CODE AS INT)), 0)+1  AS CODE FROM NOTICEFILES <!--CODE값이 STRING 이라서 INT값으로 변환해서 가장 큰 값을 찾아줘  근데 만약 NULL이면 1로 보여줘 ,
  			 NULL이 아니면 +1을 해서 보여줘-->
  		</selectKey>
  		INSERT INTO NOTICEFILES (CODE, SRC, NOTICECODE) VALUES(#{code}, #{src}, #{noticeCode})
 	</insert>
</mapper>