 @CHARSET "UTF-8";

body .hidden{
   display:none;   
}

body .main{
   height: inherit;
   padding-left: 35px;
   padding-top: 45px;
   width: 720px;
}

body .main-title {
   font-family:"맑은 고딕";
   font-weight: bold;
   font-size: 21px;
   coclor: #646464;
   padding-left: 25px;
   background: url("../images/icon-main-title.png") no-repeat;
}

body .breadcrumb{
   font-family:"돋움";
   font-size: 11px;
   color:#979797;
   display: inline-block;
   /* float: right; */
}

body .breadcrumb > ul{
   overflow: auto;
}

body .breadcrumb > ul > li{
   padding-left:10px;
   background: url("../images/icon-path.png") no-repeat left center;
   float: left;
}

body .breadcrumb > ul > li:first-child{
   padding-left: 20px;
   background: url("../images/icon-home.png") no-repeat left center;
}

/*--------------------------------------------*/
/* body .table-container{
   border-top: 2px solid #8cba35;
}

body .table-container table{
   width: 100%;   
}

body .table-container table tr{
   height: 33px;
   line-height: 33px;
   border-bottom: 1px solid #979797;
}

body .table-container table td{
   border-bottom: 1px solid #e9e9e9;   
} */

/*---------------------------------------------*/
body .table-container{
   border-top: 2px solid #8cba35;
}

body .table{
   width: 100%;   
}

body .tr{
   height: 33px;
   line-height: 33px;
   border-bottom: 1px solid #979797;
}

body .td{
   border-bottom: 1px solid #e9e9e9;   
}